Werkzeug>=0.15.3
Flask>=1.0.0
numpy>=1.14.2
Keras==2.2.5
gevent==1.2.2
pillow==4.3.0
h5py==2.7.0
tensorflow==1.7.0
gunicorn>=19.5.0


itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1


scipy>=0.15.1
scikit-learn==0.21.3
matplotlib>=1.4.3
pandas>=0.19
